.container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px;
}
.container h2{
  color: #ff5440
}
.matrix {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: antiquewhite;
  width: 400px;
  height: 400px;
  margin: 20px;
  margin-top: 3vh;
  padding: 10px;
  flex-wrap: wrap;
}

.cell {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  color: coral;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}

img {
  width: 100px;
  height: 100px;
}

img.resetImg{
  width: 15px;
  height: 15px;
}

.player {
  padding: 3px;
  margin-top: 10px;
  color: #ff5440;
  text-transform: uppercase;
}

.message h5{
  color: red;
  font-weight: bold;
}

.message{
  text-align: center;
  text-transform: capitalize;
  margin: 10px;
  padding: 5px;
}

.message h3{
  color: #ff5440;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 2px 3px rgb(224, 36, 14, 0.6);
}

.message span{
  padding-right: 7px;
}

button{
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #add8e6;
  background: #add8e6;
  font-size: medium;
  font-family: cursive;
  color: #ff5440;
}
