.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  margin: 5px;
}

.container h2 {
  color: #ff5440;
  position: relative;
}

.radio_palyer {
  position: absolute;
  top: 10vh;
}

.matrix {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: antiquewhite;
  width: 400px;
  height: 400px;
  margin: 20px;
  margin-top: 4vh;
  padding: 10px;
  flex-wrap: wrap;
  /* position: relative; */
}

.cell {
  width: 100px;
  height: 100px;
  background-color: lightblue;
  color: coral;
  padding: 10px;
  text-align: center;
  font-size: 30px;
}

img {
  width: 100px;
  height: 100px;
}

img.resetImg {
  width: 15px;
  height: 15px;
}

.player {
  padding: 3px;
  color: #ff5440;
  text-transform: uppercase;
}

.promt-message {
  color: red;
  font-weight: bold;
  /* position: absolute; */
  /* bottom: -10vh; */
  width: 32vw;
}

.message {
  text-align: center;
  text-transform: capitalize;
  margin: 15px;
  padding: 5px;
}

.success-message h4 {
  color: #ff5440;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 1px 2px 3px rgb(224, 36, 14, 0.6);
  margin-top: 2px;
  margin-bottom: 10px;
}
.success-message span {
  padding: 10px;
}

button {
  padding: 10px;
  margin: 5px;
  border-radius: 10px;
  border: 1px solid #add8e6;
  background: #add8e6;
  font-size: medium;
  font-family: cursive;
  color: #ff5440;
}
